asgiref==3.4.1
Django==3.2.8
django-cors-headers==3.10.0
Pillow==8.3.2
pytz==2021.3
sqlparse==0.4.2
asgiref==3.4.1
Django==3.2.8
django-cors-headers==3.10.0
Pillow==8.3.2
pytz==2021.3
sqlparse==0.4.2
asgiref==3.4.1
Django==3.2.8
django-cors-headers==3.10.0
django-uwsgi==0.2.2
Pillow==8.3.2
pytz==2021.3
sqlparse==0.4.2
uWSGI==2.0.20
